<p class="font-effect-fire">ANGULAR COURSE</p>

<div class="center-container">

    <button class="tot-btn-1" (mouseover)="stringAndProperty()">String Interpolation & Property Binding</button>
    <button class="tot-btn-2" (mouseover)="classBinding()">Class Binding</button>
    <button class="tot-btn-3" (mouseover)="styleBinding()">Style Binding</button>
    <button class="tot-btn-4" (mouseover)="eventBinding()">Event Binding</button>
    <button class="tot-btn-5" (mouseover)="eventFilteringI()">Event Filtering I</button>
    <button class="tot-btn-6" (mouseover)="eventFilteringII()">Event Filtering II</button>
    <button class="tot-btn-7" (mouseover)="templateVariable()">Template Variable</button>
    <button class="tot-btn-8" (mouseover)="nameAndAge()">Name & Age</button>

</div>

<router-outlet></router-outlet>
